h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;    
    letter-spacing: 0.07em;
    line-height: 100%;
    font-weight: 300;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 16px;
}

.container {
    background-color:rgba(0, 0, 0, 0.69);
}

.bg-main {
    background-color: rgba(76, 77, 61, 0.7);
}

body {
    background-image: url(../images/background.png);
    background-color: #FFFFFF;
}

.text-description {
    color: #FFFFFF;    
    letter-spacing: 0.01em;
    line-height: 100%;
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.hidden-text {
    color: rgb(77 77 77 / 1);
}

.card-header {
    background-color: rgba(76, 77, 61, 0.7);
    color: white;
    text-align: center;
}

.card-body {
    background-color: #C4C4C4;
}

.card {
    background-color: #4d4d4d;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
    margin-right: 10px;
}

.carousel-inner img {
    width: 70%;
    height: 70%;
    margin-left: 15%;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-control-next, .carousel-control-prev {
    background-color: #4d4d4d;
}