body {
    background-color: #f9f3f2;
}

p {
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

#footer, #footer-elements {
    background-color: hsla(0, 0%, 15%, 0.829);
}

#hooli-tag {
    color: white;
    text-align: center;
}

#footer-elements, #content {
    margin: 0% 10%;
    padding: 0.5% 2%;
}

#content {
    background-color: snow;
    height: 100%;
}

.profilecart {
    border: 1px solid #f9f3f2;
    padding: 5%;
}

.profileimage {
    object-fit: cover;
    width: 320px;
    height: 180px;
}
